---
import { SERVER_API_URL } from 'astro:env/server';
import cover from '../../public/cover3.jpg';
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

interface Project {
	id: number;
	technologies: string[];
	name: string;
	description: string;
	url: string;
	project_status: string;
	project_image: string;
}

const response = await fetch(`${SERVER_API_URL}?limit=4`);
const result = await response.json();
const projects: Project[] = result.results;

export const prerender = false;
---

<Layout title="Home">
	<main class="w-full overflow-y-auto pb-10">
		<div class="mb-4 relative w-full h-1/6 sm:h-3/5">
			<Image
				src={cover}
				alt="Banner"
				class="absolute hidden sm:block max-h-full object-cover aspect-video brightness-50"
			/>
			<div
				class="mt-12 sm:mt-0 sm:absolute sm:z-10 sm:left-1/2 sm:top-2/3 sm:-translate-x-1/2 text-[#FFEA00]"
			>
				<h1 class="text-center text-3xl sm:text-5xl drop-shadow-md">
					Hi, I'm Edward
				</h1>
				<h2
					class="mt-4 text-base sm:text-lg leading-normal text-center drop-shadow-md"
				>
					I'm a Full-Stack web developer
				</h2>
			</div>
			<div
				class="hidden sm:block absolute top-0 w-full h-full bg-gradient-to-b from-transparent via-transparent to-[#0d0d0d]"
			>
			</div>
		</div>
		<div class="px-8 sm:px-0 container mx-auto">
			<h2 class="text-lg sm:text-2xl pt-5 pb-3">Recent projects</h2>
			<div
				class="flex overflow-x-scroll overflow-y-hidden gap-5 snap-x snap-mandatory"
			>
				{
					projects.map((project) => {
						const transitionName = project.name
							.replaceAll(/\s/g, '-')
							.toLocaleLowerCase();
						return (
							<a
								href={`/projects/project-${project.id}`}
								class="block shrink-0 snap-center h-48 w-64 hover:scale-[1.025] bg-[#8D00FF] hover:bg-[#00FFFF] hover:text-[#0d0d0d] cursor-pointer transition-all ease-linear"
							>
								<Image
									transition:name={`${transitionName}-${project.id}-image`}
									src={project.project_image}
									alt={`${project.name} image`}
									class="max-h-full aspect-video"
									inferSize={true}
								/>
								<div class="py-2 pl-4 w-full h-full">
									<h3 class="text-xl">{project.name}</h3>
								</div>
							</a>
						);
					})
				}
			</div>
			<div class="py-4 flex items-center sm:justify-end">
				<a
					href="/projects"
					class="inline-block w-full sm:w-auto px-5 py-3 bg-[#E000FF] hover:bg-[#8D00FF] transition-colors ease-linear"
					>See all projects</a
				>
			</div>
		</div>
	</main>
</Layout>
